{% extends 'base.html'%}

{% block title%}Our Blog{% endblock %}

{% block content%}
<br>
<br>
<div class="row">
    <div class="col-3">
        <div class="card" style="width: 18rem; ">
            <img class="card-img-top" src={{book_review.image_link}} alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    Book Title: {{book_review.book_title}}
                    <br>
                    Author: {{book_review.author}}
                    <br>
                    Genre: {{ book_review.genres |join(' ') }}
                    <br>
                    Ratings: {{book_review.rating}}
                    <br>
                </p>
            </div>
        </div>
    </div>
    <div class="col-8" >
        <div class="card" >
            <div class="card-header">
                <small>
                Posted on {{book_review.time}}
                </small>
            </div>
            <div class="card-body" name="top">
                <h5 class="card-title "><em>{{book_review.book_title}}</em>: {{book_review.post_title}}</h5>
                <p class="card-text">
                    {{book_review.review}}
                </p>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="#top">Back to top</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}