{% extends 'base.html'%}

{% block title%}Our Blog{% endblock %}

{% block content%}
<div class="row" style="margin-top: 50px;">
    <div class="col-3">
        <div class="card" style="width:85%">
            <img class="card-img-top" src={{book_review.image_link}} alt="Card image cap">
            <div class="card-body" style="font-size: 18px;">
                <p class="card-text">
                    <strong>Book Title</strong>:
                    <br>
                    <em style="font-size: 17px;">{{book_review.book_title}}</em>
                    <br>
                    <strong>Author</strong>:
                    <br>
                    <a href="/tag_by/{{model.replace_backslash(book_review.author)}}" class="btn badge badge-pill badge-secondary" style="display:inline" title="Author">{{book_review.author}}</a>
                    <br>
                    <strong>Genres</strong>:
                    <br>
                    {% for genre in book_review.genres %}
                        <a href="/tag_by/{{model.replace_backslash(genre)}}"class="btn badge badge-pill badge-secondary" style="display: in-line;" title="Genre">{{genre}}</a>
                    {% endfor %}
                    <br>
                    <strong>Rating</strong>:
                    <br>
                    <span id="demo">
                    </span>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card align-self-end">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title mb-0" style="display:inline; float:left;"><em>{{book_review.book_title}}</em>: {{book_review.post_title}}</h5>
                    </div>
                    <div class="col-4">
                        <span style="display:inline; float:right;">
                            <small>
                                Posted on {{model.time_to_readable(book_review.time)}}
                            </small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body px-4 py-3" name="top">
                <p class="card-text">
                    {{book_review.review}}
                </p>
            </div>
            <div class="card-footer text-right p-2">
                <a href="#top" class="btn btn-primary">Back to top</a>
            </div>
        </div>
    </div>
</div>

<script>
    function make_stars(rating) {
        var stars = "";
        var i = 0;
        while (i < 10){
            if (rating - i <= 0){
                stars += '<span class="star" style="margin-right: -1.25em;"></span>';
            }
            else if (rating - i == 0.5){
                stars += '<span class="star half" style="margin-right: -1.25em;"></span>';
            }
            else{
                stars += '<span class="star on" style="margin-right: -1.25em;"></span>';
            }
            i += 1;
        }
        return stars;
    }
</script>
<script>
    document.getElementById("demo").innerHTML = make_stars({{book_review.rating}})
</script>

{% endblock %}