{% extends 'base.html'%}

{% block title%}Our Blog{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-info bg-info">
                <button href="{{url_for('home_page')}}" type="submit" class="btn bg-light text-info">
                    <h4 class="mb-0">
                        Our Book Blog
                    </h4>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{url_for('new_post')}}">+ New Post</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            {% for book_review in data.book_reviews %}
                <div class="row" style="margin-top: 20px;">
                    <div class="col-12">
                        <div class="card" style="border: 2px solid black;">
                            <div class="row no-gutters">
                                <div class="col-auto p-2">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/71jJcPTGd3L.jpg" alt="NOTW Cover" style="height: 225px; width: 146px;"/>
                                </div>
                                <div class="col pl-0 pr-2 pt-2 pb-0">
                                    <ul class="list-group list-group-flush p-0" style="height:225px">
                                        <li class="list-group-item p-0" style="border-bottom: 0">
                                            <div class="row">
                                                <div class="col p-0 ml-3">
                                                    <h3 class="card-title mt-n1 mb-0">
                                                        <em>{{book_review.book_title}}</em>: {{book_review.post_title}}
                                                    </h3>
                                                    <hr class="m-0" style="border-top: 1px solid;"/>
                                                    <h5 class="card-text mt-1">
                                                        <button type="button" class="btn badge badge-pill badge-secondary align-middle" title="Author">{{book_review.author}}</button>
                                                        {% for genre in book_review.genres %}
                                                            <button type="button" class="btn badge badge-pill badge-secondary align-middle" title="Genre">{{genre}}</button>
                                                        {% endfor %}
                                                    </h5>
                                                </div>
                                                <div class="col-auto pb-2 mr-2">
                                                    <div class="d-flex h-100 align-items-center">
                                                        <div class="numberCircle">
                                                            {{book_review.rating}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item p-0 d-flex flex-column flex-fill" style="border-top: 1px solid; black border-bottom: 0">
                                            <p class="pb-0 mb-0" id="wrapper" style="padding-top: 0.75rem; padding-left: 0.5rem; padding-right: 0.35rem;">
                                                {{book_review.review}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0" style="border-top: 1px solid black">
                                            <div class="d-flex">
                                                <div class="mr-auto align-self-end" style="margin-bottom: -0.4rem;">
                                                    <small class="text-muted">
                                                        Last edited []
                                                    </small>
                                                </div>
                                                <div class="ml-auto" style="margin-bottom: -0.15rem;"> 
                                                    <button class="btn btn-primary">
                                                        Read More
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-3" style="margin-top:20px">
            <div class="card" style="border: 2px solid black; height: 245px">
                <div class="card-body pt-1 pb-2 px-0">
                    <h3 class="card-title mb-0 pl-3">
                        Sort By
                    </h3>
                    <hr class="my-0" style="border-top: 1px solid"/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
