{% extends 'base.html'%}

{% block title%}Add New Post{% endblock %}

{% block content%}
<div class="row mt-3 mx-3">
    <div class="col-12">
        <form method="POST" action="/new_post">
            <div class="form-row">
                <div class="form-group col-6 pr-4">
                    <label for="book_title">Book Title</label>
                    <input type="text" class="form-control" name="book_title">
                </div>
                <div class="form-group col-6 pl-4">
                    <label for="post_title">Post Title</label>
                    <input type="text" class="form-control" name="post_title">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 pr-4">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" name="author">
                </div>
                <div class="form-group col-6 pl-4">
                <label for="genres">Genres</label><br>
                <select class="selectpicker form-control" name="genres" title="Select all that apply" multiple>
                    <option>Action/Adventure</option>
                    <option>Classics</option>
                    <option>Comic/Graphic Novel</option>
                    <option>Detective/Mystery</option>
                    <option>Fantasy</option>
                    <option>Historical Fiction</option>
                    <option>Horror</option>
                    <option>Literary Fiction</option>
                    <option>Romance</option>
                    <option>Sci-Fiction</option>
                    <option>Short-Stories</option>
                    <option>Suspense/Thrillers</option>
                    <option>Biographies</option>
                    <option>Memoirs</option>
                    <option>Poetry</option>
                    <option>Other</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label for="image_link">Book Cover Image Link</label>
                <input type="text" class="form-control" name="image_link">
            </div>
            <div class="form-group">
                <label for="review">Review</label>
                <textarea class="form-control" rows="7" name="review"></textarea>
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="text" id="new-ratings-slider" name="rating" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}